.message {
    padding: 180px 24px 0 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column-reverse;
    &__wrapper {
        display: flex;
    }
    &__img {
        width: 32px;
        height: 32px;
    }
    &__block {
        margin-left: 8px;
    }
    &__item {
        padding: 8px 12px;
        max-width: 548px;
        margin-bottom: 4px;
        &_you {
            align-self: flex-end;
            background: rgba(64, 126, 201, 0.16);
            border-radius: 4px;
        }
        &_notyou {
            align-self: flex-start;
            background: #F3F3F3;
            border-radius: 4px;
        }
    }
    &__time {
        display: flex;
        justify-content: flex-end;
        gap: 2px;
        margin-top: 3px;
        font-weight: 400;
        font-size: 12px;
        line-height: 9px;
        color: #605E5C;
    }
}